RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
AddType text/css .css
#RewriteRule ^(.*)$ index.php?url=$1&code=$2&page=$3&search=$4&param=$5&$id=$6 [L,QSA]
#RewriteRule ^(.*)$ index.php?url=$1&code=$2&page=$3&search=$4&param=$5 [L,QSA]
#RewriteRule ^(.*)$ index.php?url=$1&code=$2&page=$3&search=$4 [L,QSA]
#RewriteRule ^(.*)$ index.php?url=$1&code=$2&page=$3 [L,QSA]
#RewriteRule ^(.*)$ index.php?url=$1&code=$2 [QSA]
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]